@import 'variables.scss';





body {
    background-color: rgb(255, 0, 0);
}

h1 {
    color: $h1-color;
}

.container {
    width: #{$box-width}px;
    margin: 0 auto;
    padding: 20px;
    background-color: antiquewhite;
} 

ul {
   background-color: aqua;
   li {
    background-color: rgb(255, 0, 0);
   
   span {
        color: antiquewhite;
       }
   }

   
}